<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.qf.entity.Teacher">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tname" jdbcType="VARCHAR" property="tname" />
    <result column="age" jdbcType="BIGINT" property="age" />
    <result column="cid" jdbcType="BIGINT" property="cid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tname, age, cid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from teacher
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qf.entity.Teacher">
    insert into teacher (id, tname, age, 
      cid)
    values (#{id,jdbcType=BIGINT}, #{tname,jdbcType=VARCHAR}, #{age,jdbcType=BIGINT}, 
      #{cid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.entity.Teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tname != null">
        tname,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="cid != null">
        cid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tname != null">
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=BIGINT},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.entity.Teacher">
    update teacher
    <set>
      <if test="tname != null">
        tname = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=BIGINT},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.entity.Teacher">
    update teacher
    set tname = #{tname,jdbcType=VARCHAR},
      age = #{age,jdbcType=BIGINT},
      cid = #{cid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>